@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400, 700);
:root {
  --yellow: #e4bb23;
  --grey: #dfdfdf;
}
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  font-size: 16px;
}
button {
  background-color: var(--yellow); /* Green */
  display: flex;
  align-items: center;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 25px;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  position: relative;
  transition: 0.2s;
  overflow: hidden;
  outline: unset;
}
button:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
.icon {
  font-size: 1.5em;
  margin-left: 15px;
}
a {
  text-decoration: none;
  transition: 0.2s;
}
a:hover,
.yellow {
  color: var(--yellow);
}
img {
  max-width: 100%;
  height: auto;
}
.column-section {
  margin: auto;
  max-width: 960px;
  position: relative;
}
.profile-picture {
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
  overflow: hidden;
}

/* HEADER */

header {
  background-image: url("../img/capa-madmax2.jpg");
  color: white;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 95%
  );
}
.header-wrapper {
  box-sizing: border-box;
  padding-bottom: 70px;
  height: 100%;
  z-index: 2;
}
header h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 700;
}

/* FLEX */

.flex {
  display: flex;
  flex-wrap: nowrap;
}
.flex.column {
  flex-direction: column;
}
.flex.align-center {
  align-items: center;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-between {
  justify-content: space-between;
}

/* NAVBARS */
ul {
  list-style: none;
  list-style-position: unset;
  padding: 0;
  margin: 0;
}
/* header */
.navbar {
  padding: 20px 0;
  font-weight: bold;
}
.nav-list > li {
  padding: 0 20px;
  text-transform: uppercase;
  color: white;
}
.nav-list a {
  color: white;
}

/* movie types */
.movie-type-list {
  text-transform: uppercase;
  font-weight: 500;
}
.movie-type-list > li {
  margin-right: 20px;
}

/* movies options */
.movies-navbar {
  border-bottom: 1px solid var(--grey);
}
.movies-navbar ul li {
  padding: 19px 0;
  margin: 0 20px;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}
.movies-navbar li:hover {
  border-bottom: 1px solid var(--yellow);
  cursor: pointer;
}
.movies-navbar a {
  color: var(--yellow);
  font-weight: bold;
  text-transform: uppercase;
}
